name: build docker image

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: lint
        uses: luke142367/Docker-Lint-Action@v1.1.1
        with:
          target: Dockerfile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build-image:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup qemu
        uses: docker/setup-qemu-action@v2
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v2
      - name: build image
        run: |
         docker build -t 265389612123.dkr.ecr.eu-central-1.amazonaws.com/frontend:${{ github.sha }} .
      - name: scan for vulnerabilities
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '265389612123.dkr.ecr.eu-central-1.amazonaws.com/frontend:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os'
          severity: 'CRITICAL,HIGH'
